div.mb-3
    label.form-label(for='locationsearch') #{languageData.incidentlocation.name}:
    .row
        .col-12(style='position: relative')
            input#locationsearch.form-control(name='incidentlocation', list='incidentlocation', autocomplete='off')
            button#clearButton.btn.btn-danger(type='button' style='display: none; position: absolute; right: 12px; top: 0;') X
    datalist#incidentlocation
    input#locationObjectField.form-control(type='hidden', name='locationobject', required)
    small#searchHelp.form-text.text-muted #{languageData.labels.search_help}

script.
    let searchinput = document.getElementById("locationsearch");
    let datalist = document.getElementById("incidentlocation");
    let locationObjectField = document.getElementById("locationObjectField");
    let clearButton = document.getElementById("clearButton");

    (async () => {
        searchinput.addEventListener('keypress', await onkeypress);
        searchinput.addEventListener('change', await onchange);
        clearButton.addEventListener('click', await onclick);
    })();

    function onclick() {
        datalist.innerHTML = '';
        locationObjectField.value = '';
        searchinput.value = '';
        searchinput.disabled = false;
        clearButton.style.display = 'none';
    }

    function onchange(e) {
        let optionElement = datalist.options.namedItem(e.target.value);
        let locationDataObject = optionElement.dataset['location'];
        
        locationObjectField.value = locationDataObject;
        searchinput.disabled = true;

        clearButton.style.display = 'block';
    }

    let fetchLocations = true;
    async function onkeypress(e) {
        if (fetchLocations) {
            fetchLocations = false;
            setTimeout(async () => {
                await getLocations(e.target.value)
                fetchLocations = true;
            }, 1000)
        }
    }

    async function getLocations(query) {
        let limit = 10
        let url = "https://swisspost.opendatasoft.com/api/v2/catalog/datasets/plz_verzeichnis_v2/records?where=search%28%22" + query + "%22%29&limit="+ limit +"&offset=0&timezone=UTC&select=postleitzahl,gplz,ortbez18,ortbez27,kanton,geo_point_2d&group_by=gplz"
        try {
            let response = await fetch(url)
            let data = await response.json();
            let locations = data.records;
            
            datalist.innerHTML = '';

            for (let l of locations) {
                let element = document.createElement("option");
                let valueRef = l.record.fields.postleitzahl + " - " + l.record.fields.ortbez18 + " (" + l.record.fields.kanton + ")";
                element.id = valueRef;
                element.value = valueRef;
                element.dataset['location'] = JSON.stringify(l.record.fields);
                datalist.appendChild(element);
            }
            datalist.focus();
        } catch (err) {
            console.warn('Something went wrong.', err);
        };   
    }