div.mb-3
    label.form-label(for='locationsearch') #{languageData.incidentlocation.name}:
    input#locationsearch.form-control(name='incidentlocation', list='incidentlocation')
    datalist#incidentlocation
    small#searchHelp.form-text.text-muted Bitte suchen Sie nach dem Ort via Namen oder PLZ
    input#locationobject(type='hidden', name='locationobject')

script.
    (async () => {
        let searchinput = document.getElementById("locationsearch");
        searchinput.addEventListener('keypress', await search);
        searchinput.addEventListener('change', await magic)
    })();

    function magic(e) {
        let datalist = document.getElementById("incidentlocation");
        let optionElement = datalist.options.namedItem(e.target.value);
        console.log(optionElement, e.target.value)
        let locationObject = optionElement.dataset['location'];
        document.getElementById("locationobject").value = locationObject;
    }

    let fire = true;
    async function search(e) {
        if (fire) {
            fire = false;
            setTimeout(async () => {
                await getLocations(e.target.value)
                fire = true;
            }, 1000)
        }
    }

    async function getLocations(query) {
        console.log("GET Locations")
        let limit = 15
        let url = "https://swisspost.opendatasoft.com/api/v2/catalog/datasets/plz_verzeichnis_v2/records?where=search%28%22" + query + "%22%29&limit="+ limit +"&offset=0&timezone=UTC&select=postleitzahl,gplz,ortbez18,ortbez27,kanton,geo_point_2d"
        try {
            let response = await fetch(url)
            let data = await response.json();
            let locations = data.records;
            
            let datalist = document.getElementById("incidentlocation");
            datalist.innerHTML = '';

            for (let l of locations) {
                let element = document.createElement("option");
                element.id = l.record.fields.postleitzahl + " - " + l.record.fields.ortbez18;
                element.value = l.record.fields.postleitzahl + " - " + l.record.fields.ortbez18;
                element.dataset['location'] = JSON.stringify(l.record.fields);
                datalist.appendChild(element);
            }
            datalist.focus();
        } catch (err) {
            // There was an error
            console.warn('Something went wrong.', err);
        };   
    }