.mb-3
    label.form-label(for='searchinput') #{languageData.incidentlocation.name}:
    input#searchinput.form-control(type="text")
    small.form-text.text-muted #{languageData.labels.search_help}
.mb-3
    #locationresults.dropdown-content.hide

input#locationObjectFieldName.form-control(type='text', disabled, required)
input#locationObjectField.form-control(type='hidden', name='incidentlocation', required)
small.form-text.text-muted #{languageData.labels.search_selected}

script.

    let locationresults = document.getElementById("locationresults");
    let searchinput = document.getElementById("searchinput");
    (async () => {
        searchinput.addEventListener('keypress', await onkeypress);
    })();

    let fetchLocations = true;
    async function onkeypress(e) {
        if (fetchLocations) {
            fetchLocations = false;
            setTimeout(async () => {
                await getLocations(e.target.value)
                fetchLocations = true;
            }, 1000)
        }
    }
    
    function onselect(e) {
        locationresults.innerHTML = '';
        searchinput.value = '';
        document.getElementById("locationObjectFieldName").value = e.target.id
        document.getElementById("locationObjectField").value = e.target.dataset['location']
    }

    async function getLocations(query) {
<<<<<<< HEAD
        let limit = 10
=======
        let limit = 5
>>>>>>> 03f8003cbb99d2e567aff2db14c4c2a0c0c61051
        let url = "https://swisspost.opendatasoft.com/api/v2/catalog/datasets/plz_verzeichnis_v2/records?where=search%28%22" + query + "%22%29&limit="+ limit +"&offset=0&timezone=UTC&select=postleitzahl,gplz,ortbez18,ortbez27,kanton,geo_point_2d"
        try {
            let response = await fetch(url)
            let data = await response.json();
            let locations = data.records;
            
            locationresults.innerHTML = '';
            
            locations = uniqByKeepFirst(locations, i => i.record.fields.postleitzahl)
            locations = uniqByKeepFirst(locations, i => i.record.fields.ortbez18)

            for (let l of locations) {
                let element = document.createElement("a");
                let valueRef = l.record.fields.postleitzahl + " - " + l.record.fields.ortbez18 + " (" + l.record.fields.kanton + ")";
                element.id = valueRef
                element.innerHTML = valueRef;
                element.className = "dropdown-item";
                element.dataset['location'] = JSON.stringify(l.record.fields);
                element.addEventListener('click', onselect);
                locationresults.appendChild(element);
            }
        } catch (err) {
            console.warn('Something went wrong.', err);
        };   
    }
    function uniqByKeepFirst(a, key) {
        let seen = new Set();
        return a.filter(item => {
            let k = key(item);
            return seen.has(k) ? false : seen.add(k);
        });
    }


style.
    .dropdown-content a {
        padding: .4em .3em;
        text-decoration: none;
    }
