div.mb-3
    label.form-label(for='ereignisort') Ereignisort:
    input#ereignisort.form-control(type='text', placeholder='Ereignisort' name='ereignisort')
div.mb-3
    label.form-label(for='bodyparts') Körperteil:
    select#bodyparts.form-select(name='bodyparts', multiple)
        each val in languageData.bodyparts
            option(value=val.id) #{val.name} 
div.mb-3
    label.form-label(for='koerperseite') Körperseite:
    input#koerperseite.form-control(type='text', placeholder='Seite' name='koerperseite')