div.mb-3
    label.form-label(for='ereignisort') Ereignisort:
    input#ereignisort.form-control(type='text', placeholder='Ereignisort' name='ereignisort')
div.mb-3
    label.form-label(for='koerperteil') Körperteil:
    input#koerperteil.form-control(type='text', placeholder='Körperteil' name='koerperteil')
div.mb-3
    label.form-label(for='koerperseite') Körperseite:
    input#koerperseite.form-control(type='text', placeholder='Seite' name='koerperseite')